<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Thymeleaf project</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
	<h1>Coś tam w Thymeleaf'ie!</h1>
	<div class="content">
		<table class = "maintable">
			<tr>
				<th>L.p.</th>
				<th>Marka</th>
				<th>Model</th>
				<th>Usuń</th>
			</tr>
			<tr id = "tablerow" th:each="c: ${cars}" class = "maintablerow">
				<td><a th:href="@{/edit/}+${c.nr}" th:text="${c.nr}"></a></td>
				<td><a th:href="@{/edit/}+${c.nr}" th:text="${c.mark}"></a></td>
				<td><a th:href="@{/edit/}+${c.nr}" th:text="${c.model}"></a></td>
				<td class = "deletelink"><a th:href="@{/delete/}+${c.nr}">Usuń</a></td>
			</tr>
		</table>
		<br />
		<br />
		<form th:action="@{addcar}" method="get" th:object="${car}">
			<label for="marka"> <span>Marka: </span> <input type="text"
				id="marka" th:field="${car.mark}">
			</label> <br /> <label for="model"> <span>Model: </span> <input
				type="text" id="model" th:field="${car.model}"><br/>
			</label> <br /> <input type="submit" value="Dodaj pojazd">
		</form>
	</div>
</body>
</html>